@import "colors";

$defaultSliderSize: 6px;
$defaultKnobSize: 12px;

:host {
	touch-action: none;
	display: flex;
	align-items: center;
	width: 250px;
	height: calc(var(--bar-size) + var(--knob-size));
	position: relative;
	cursor: pointer;
	--primary-color: #{$primaryColor};
	--secondary-color: #{$secondaryColor};
	--bar-size: #{$defaultSliderSize};
	--knob-size: #{$defaultKnobSize};
	--border-radius: #{$defaultSliderSize};
}

:host([vertical]) {
	justify-content: center;
	align-items: flex-end;
	width: calc(var(--bar-size) + var(--knob-size));
	height: 250px;

	.widro-slider,
	.widro-slider-fill {
		width: var(--bar-size);
		height: 100%;
	}
}

.widro-slider,
.widro-slider-fill {
	background-color: var(--secondary-color);
	width: 100%;
	height: var(--bar-size);
	position: absolute;
	border-radius: var(--border-radius);
}

.widro-slider-fill {
	width: 0%;
	background-color: var(--primary-color);
}

.widro-slider-knob {
	background-color: var(--primary-color);
	width: var(--knob-size);
	height: var(--knob-size);
	border-radius: var(--knob-size);
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 2px;
}
